# Environment variables
.env

# Virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Vector databases (local)
faiss_db/
app_db/
test_db/

# Temporary files and uploads
temp_uploads/
figures/
*.pdf
*.txt
!README.md
!requirements.txt
!packages.txt

# Chat history
chats/

# Streamlit config (Keep config, ignore secrets)
.streamlit/secrets.toml
