langchain
langchain-google-genai
langchain-community
langchain-faiss
python-dotenv
pypdf
faiss-cpu
streamlit
unstructured[pdf]
python-magic-bin
pdf2image
pytesseract
lxml
beautifulsoup4
unstructured-inference
unstructured-client
accelerate
numpy<2.4
