streamlit
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langchain-qdrant
google-generativeai
python-dotenv
unstructured
unstructured[pdf]
pytesseract
pdf2image
pi_heif
python-magic
python-multipart
lxml
pypdf
pypdfium2
uuid_utils
sqlalchemy
rank-bm25
qdrant-client
tenacity
